{{template "header.html" .Header}}

<body>

{{template "navbar.html" .}}

<div class="row">
  <div class="grid_12">
    <div class="row">
      <div class="grid_9">
        <h5>{{.Header.Name}}</h5>
        <p>
          Are you looking for a speaker for a tech event, or want to speak at a tech event?
        </p>
        <p>
          There are currently {{.Details.Talks}} talks from {{.Details.Speakers}} speakers, who
          can speak at {{.Details.Locations}} locations and {{.Details.Groups}} groups wanting speakers
          at {{.Details.Places}} places.
        </p>

        <h5>Passwords</h5>
        <p>
          Passwords are set to show by default, we do this because the likelihood of being shoulder
          surfed is pretty small and entering a complex password is made a lot harder on small screens
          when the password is masked. There is an
          <a href="https://www.schneier.com/blog/archives/2017/07/password_maskin.html">Article</a>
          by Bruce Schneier detailing it in more depth.
        </p>

        <h5>Cookies</h5>
        <p>
          The only cookie set is when you login, so we recognise you and don't ask for a username/password
          every time you go to a new page. Viewing without being logged in doesn't involve any cookies, we
          aren't interested in tracking you.
        </p>
      </div>  <!-- end of grid_9 -->

      {{if .Header.Loggedin}}
      {{else}}
        {{template "logininsert.html"}}
      {{end}}

    </div>  <!-- end of row -->
  </div>  <!-- end of grid_12 -->
</div>  <!-- end of row -->
</body>

</html>
