{{template "header.html" .Header}}

<body>

{{template "navbar.html" .}}

<div class="row">
  <div class="grid_12">
    <div class="row">
      <div class="grid_9">
        {{with .Details}}
          <h5>Send message to {{.Name}}</h5>
          <p>
            An e-mail will be sent with the title:<br />
            {{.Site}} message from {{.Sender}}. It won't contain any contact details for you,
            you will have to add them.
          </p>
          <form method="post" class="login_form" action="/message/{{.Num}}">
            <textarea class="ta2" name="message" rows="8" placeholder="Message">{{.Message}}</textarea>
            <br />
            <input type="hidden" name="checkfield" value="{{.Checkfield}}">
            <input type="hidden" name="num" value="{{.Num}}">
            <input type="hidden" name="send" value="{{.SendNum}}">
            <p><input type="submit" value="Send"></p>
          </form>

        {{end}}
      </div>  <!-- end of grid_9 -->
    </div>  <!-- end of row -->
  </div>  <!-- end of grid_12 -->
</div>  <!-- end of row -->
</body>

</html>
