{{template "header.html" .Header}}

<body>

{{template "navbar.html" .}}

<div class="row">
  <div class="grid_12">
    <h4>Delete your talk</h4>
    {{with .Details}}
      <form method="post" class='login_form' action="/talkdelete/{{.Num}}" method="post">
        <p>
          <strong>Title:</strong><br />
          {{.Title}}
        </p>
        <p>
          <strong>Description:</strong><br />
          {{.Description}}
        </p>
        <p>
          <strong>Topics:</strong><br />
          {{.Topics}}
        </p>
        <input type="hidden" name="checkfield" value="{{.Checkfield}}">
        <input type="hidden" name="num" value="{{.Num}}">
        <p><input type="submit" name="button" value="Cancel"><input type="submit" name="button" value="Delete"></p>
      {{end}}
    </form>
  </div>  <!-- end of grid_12 -->
</div>  <!-- end of row -->

</body>

</html>
